<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSServices</key>
	<array>
		<dict/>
	</array>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Pangolin uses speech recognition to generate transcripts of your video content, making it searchable and accessible.</string>
</dict>
</plist>
